body {
  font-family: Arial, sans-serif;
  background-color: #f8f3ff;
  margin: 0;
  padding: 0;
  color: #3a006a;
}

/* Cabeçalho principal */
h1 {
  text-align: center;
  font-size: 36px;
  color: #3a006a;
  margin-top: 40px;

}

/* Subtítulos */
h2 {
  font-size: 24px;
  color: #3a006a;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

/* Área dos cards */
.cards {
  display: flex;
  gap: 20px;
  margin: 50px auto 100px;
  max-width: 900px;
}

/* Estilo dos cards */
.card {
  background: #f0e4ff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  padding: 25px 10px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  font-size: 18px;
  color: #5e00b2;
  margin-bottom: 10px;
}

.card p {
  font-size: 20px;
  font-weight: bold;
  color: #3a006a;
}

/* Tabelas */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: #f0e4ff;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: none;
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

th {
  background: #3a006a;
  color: #fff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f8f3ff;
}

tr:hover {
  background-color: #e9d6ff;
  transition: 0.2s;
}

/* Rodapé ou texto inferior */
p {
  text-align: center;
  color: #5e00b2;
  font-size: 14px;
  margin-top: 30px;
}
