body {
  font-family: Arial, sans-serif;
}

.left {
  background: #f0e4ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  width: 300px;
}

h2 {
  font-size: 32px;
  color: #3a006a;
  margin-bottom: 30px;
}


form {
  width: 100%;
  max-width: 350px;
}

label {
  display: none; 
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 12px;
  border: 1.5px solid #3a006a;
  border-radius: 25px;
  margin-bottom: 15px;
  outline: none;
  font-size: 14px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

.options {
  justify-content: space-between;
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 25px;
  background: #3a006a;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5e00b2;
}

p {
  margin-top: 15px;
  font-size: 13px;
  color: #444;
}

p a {
  color: #3a006a;
  text-decoration: none;
  font-weight: bold;
}

.erro {
    color: #D8000C; /* Um tom de vermelho */
    background-color: #FFD2D2; /* Um fundo levemente vermelho/rosa */
    border: 1px solid #D8000C;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}